# Python
__pycache__/
*.pyc

# Logs
logs/airflow logs

# Data
data/

# VS Code
.vscode/

# Source
src/

# Exclude specific files in src
!src/lang_dict.py

# Dags
dags/test_scraping.py
dags/test_dag.py
# MongoDB
mongodb-database-tools-ubuntu2204-x86_64-100.9.3.deb

# Other files
NER.py
logs/GNS_logs/Scrap-2024-01-23.log
logs/GNS_logs/Scrap-2024-01-22.log.2024-01-22
logs/GNS_logs/Scrap-2024-01-22.log
logs/GNS_logs/SA-2024-01-23.log
logs/GNS_logs/SA-2024-01-22.log
logs/GNS_logs/SA-2024-01-02.log
logs/GNS_logs/RF-2024-01-23.log
logs/GNS_logs/RF-2024-01-22.log
logs/GNS_logs/RF-2024-01-02.log
logs/GNS_logs/NER-2024-01-23.log
logs/GNS_logs/NER-2024-01-22.log
logs/GNS_logs/NER-2024-01-02.log
logs/GNS_logs/FLS-2024-01-23.log
logs/GNS_logs/FLS-2024-01-22.log
logs/GNS_logs/FLS-2024-01-02.log
logs/GNS_logs/ESG9-2024-01-23.log
logs/GNS_logs/ESG9-2024-01-22.log
logs/GNS_logs/ESG9-2024-01-02.log
logs/GNS_logs/ESG-2024-01-23.log
logs/GNS_logs/ESG-2024-01-22.log
logs/GNS_logs/ESG-2024-01-02.log
