/__pycache__/
logs/airflow logs/
data/mongodb/*
#!data/mongodb/collection-0--8721820593327479582.wt
data/postgres/
/src/__pycache__/
data/bert/c1_fakenews_weights.pt
data/bert/c2_new_model_weights.pt
data/bert/a1_True.csv
data/bert/a2_Fake.csv
.vscode/settings.json
data/bert/WELFake_Dataset.csv
data/bert/sample.csv
data/bert/translated_titles.csv
logs/trans logs/translation_log.txt
data/bert/Fine-Tuning_Dataset.csv
data/bert/translated_titles_continued.csv
logs/trans logs/translation_from_X_to_ENG_log.txt
src/temp/test_mongo.py
data/bert/c3_new_model_weights.pt
mongodb-database-tools-ubuntu2204-x86_64-100.9.3.deb
data/bert/c3_new_model_weights.pt-20231203T183113Z-001.zip
dags/hello_ape.py
NER.py
dags/__pycache__/
dags/__pycache__/scrapping_dag.cpython-38.pyc
src/lang_dict.py
/temp/